html, body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.6rem; }

#wrap > .content-container {
  background-color: #fafafa;
  padding-top: 60px; }

button {
  padding: 0;
  background-color: transparent;
  border: none; }
