#wrap > header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
}

#wrap > header nav {
  padding: 26px 40px;
}

#wrap > header nav .nav-group {
  display: inline-block;
  vertical-align: middle;
}

#wrap > header nav .nav-left a.logo {
  display: inline-block;
  width: 176px;
  height: 35px;
  margin-right: 30px;
}

#wrap > header nav .nav-center input {
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  border-radius: 3px;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
}

#wrap > header nav .nav-right {
  height: 24px;
  float: right;
  margin-top: 5px;
}

#wrap > header nav .nav-right a.btn-header-nav {
  display: inline-block;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 20px;
}
